*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 5px;
    position: relative;
}

.left {
    float: left;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0, -50%);
}

img[src*="./assets/icons8-pottery-96.png"] {
    width: 30px;
}

.right {
    right: 2%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

img[src*="./assets/1200px-Google_Magnifying_Glass.svg.png"], img[src*="./assets/icons8-pottery-96 (1).png"] {
    width: 20px;
}

.parentContainer {
    position: relative;
    color: white;
    font-size: 30px;
    padding-right: 2.3rem;
    padding-left: 2.3rem;
    background-color: black;
}

img[src*="./assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg"]{
    width: 100%;
}

.top-left {
    position: absolute;
    top: 10px;
    left: 75px;
    width: 8em;
}

.bottom-right {
    position: absolute;
    bottom: 10px;
    right: 75px;
    width: 8em;
    text-align: right;
}

.aboutContainer {
    padding: 5rem;
}

.aboutContainer p {
    padding: 10px;
}

.aboutChild1, .aboutChild2 {
    float: left;
    width: 60%;
}

.aboutChild2 {
    padding-top: 10px;
}

img[src="./assets/Cylinder_unglazed3_2048x2048.jpg"]{
    float: right;
    width: 30%;
    transform: scaleX(-1);
    position: absolute;
}

img[src*="./assets/Vase_Dame_2048x2048.jpg"]{
    float: left;
    width: 50%;
    padding-right: 5rem;
}

.productsContainer {
    margin-top: 350px;
}

.productsContainer h2 {
    padding: 5rem;
}

.grid-container img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border: .5px solid black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 175px);
    grid-auto-rows: 300px;
    grid-gap: 60px;
    justify-content: center;
}

body, header {
    background-color: #FFFFFF;
}

header {
    text-align: center;
    padding: 2.3rem;
}

.grid-container h4, h5, a {
    display: inline;
}

.grid-container h4, h5 {
    padding: 1.429rem;
}

.grid-container a {
    padding: 1.26rem;
}

body {
    text-align: left;
}

.contactContainer {
    padding: 5rem;
    
}

.emailContainer {
    padding: 23px;
}

.submitButton {
    float: right;
}

footer {
    background-color: #bf7631;
    text-align: center;
    padding: 2.3rem;
    position: absolute;
    width: 100%;
}

footer img{
    width: 55px;
}